body{
background-color:#000000;
color:#ffffff;
font-family:'Open Sans Condensed',sans-serif;
font-size:18px;
}

h4,h3{

font-family: 'Roboto', sans-serif;
font-weight:bold;

}


#aboutUsModal{
color:#000000;
font-size:20px;
}

#aboutUsModal h4{
font-weight:bold;
}

#offersModal{

overflow:scroll;
color:#000000;
font-size:20px;

}

#offersModal h4{
font-weight:bold;
}

#signUpModal{
color:#000000;
font-size:20px;
}

#loginModal h4{
font-size:bold;
}

#loginModal{
color:#000000;
font-size:20px;
}

#signUpModal h4{
font-size:bold;
}

#successL{
color:green;
font-weight:bold;
text-align:center;
}

#successS{
color:green;
font-weight:bold;
text-align:center;
}

.error{
color:red;
}


.fontPacifico{
font-family: 'Pacifico', cursive;
font-size:30px;
}



.fontPoiret{
font-family: 'Poiret One', cursive;
font-weight:bold;
font-size:15px;
}

.modal .modal-open, .btn:focus{
outline:none;
}
